body {
  font-family: "Montserrat", "sans-serif";
  background-color: white;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  width: 100%;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
}

.header .container {
  display: flex;
  flex-direction: column;
  gap: 112px;
  align-items: center;
}

.header__button__list {
  display: flex;
  gap: 4px;
  text-align: center;
}

.header__button {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", "sans-serif";
  font-size: 14px;
  font-weight: 700;
  background-color: transparent;
  padding: 8px 15px;
}

.sign-up {
  border: 2px solid #fff;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 36px;
  }
  .header .container {
    flex-direction: row-reverse;
    gap: 0;
    justify-content: space-between;
  }
  .header__logo {
    font-style: 20px;
  }
}
.partners {
  width: 100%;
}

.partners__title {
  color: #333;
  text-align: center;
  font-size: 22.004px;
  font-weight: 700;
  margin-top: 63px;
}

.partner__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.partner__image {
  position: relative;
}

.icon__overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 4px solid #FFF;
  background-color: #FF4E50;
}

.partner__svg {
  width: 16px;
  height: 16px;
  fill: #FFF;
}

.partner__name {
  color: #333;
  text-align: center;
  font-size: 14.011px;
  font-weight: 700;
}

.partner__info {
  color: #666;
  margin-top: 13px;
  text-align: center;
  font-family: "Roboto";
  font-size: 14.011px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.hero {
  background-image: url("../../images/desk-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 214px;
  padding-bottom: 136px;
  text-align: center;
}

.hero__title {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.hero__text {
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 17px;
}

.hero__button {
  width: 282px;
  height: 42px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  background-color: #FF4E50;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../../images/desk-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 233px;
    text-align: center;
  }
  .hero__title {
    width: 100%;
    font-size: 52px;
    margin-bottom: 36px;
  }
  .hero__text {
    font-size: 24px;
    margin-bottom: 33px;
  }
  .hero__button {
    width: 228px;
    height: 42px;
    font-size: 14px;
  }
}
.partners {
  width: 100%;
}

.partners__title {
  color: #333;
  text-align: center;
  font-size: 22.004px;
  font-weight: 700;
  margin-top: 63px;
}

.partner__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.partner__image {
  position: relative;
}

.icon__overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 4px solid #FFF;
  background-color: #FF4E50;
}

.partner__svg {
  width: 16px;
  height: 16px;
  fill: #FFF;
}

.partner__name {
  color: #333;
  text-align: center;
  font-size: 14.011px;
  font-weight: 700;
}

.partner__info {
  color: #666;
  margin-top: 13px;
  text-align: center;
  font-family: "Roboto";
  font-size: 14.011px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}/*# sourceMappingURL=main.css.map */