.partners {
  width: 100%;
}

.partners__title {
  color: #333;
  text-align: center;
  font-size: 22.004px;
  font-weight: 700;
  margin-top: 63px;
}

.partners__list {
}

.partner {
  margin-top: 20px;
}

.partner::before {
  content: "";
  position: relative;
  background-image: url("../../images/mob-1.jpg");
  background-size: cover;
}

.partner__name {
  color: #333;
  text-align: center;
  font-size: 14.011px;
  font-weight: 700;
}

.partner__info {
  color: #666;
  margin-top: 13px;
  text-align: center;
  font-family: "Roboto";
  font-size: 14.011px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
